<p id="notice"><%= notice %></p>

<p>
  <strong>Step:</strong>
  <%= @step.step %>
</p>
<% @exercise = Exercise.find(params[:exercise_id]) %>
<%= link_to 'Edit', edit_exercise_step_path(@exercise, @step) %> |
<%= link_to 'Back', exercise_steps_path %>
